body{
	margin:0;
	padding:10px;
	background-color:#ccc;
	font-family:arial;
}
.container{
	padding:2px;
	width:1000px;
	border:2px solid black;
	margin:auto;
}
.centro{
	text-align:center;
}
table{
	width:1000px;
	margin:auto;
}
tr{
	border:2px solid black;
}
th{
	border:2px solid black
}
.desc{
	width:450px;
	overflow:hidden;
}
.valor{
	width:80px;
	text-align:center;
}
.numero{
	width:50px;
}
.data{
	width:50px;
}
.clinica{
	width:100px;
}
.busca{
	height:30px;
	line-height:30px;
	margin-top:10px;
}
.blank{
	width:50px;
}
.add{
	width:100%;
}
.iframeadicionar{
	width:200px;
	height:450px;
	position:fixed;
	top:0;
	right:0;
	margin:10px;
	border:2px solid black;
	padding:10px;
}
.iframenovocliente{
	width:300px;
	height:150px;
	position:fixed;
	top:0;
	left:0;
	margin:10px;
	border:2px solid black;
	padding:10px;
}

/*busca.php*/
.nomedentista{
	width:996px;
	height:30px;
	border:2px solid black;
}
.nomedent ,
.datam{
	height:30px;
	line-height:30px;
	padding-left:20px;
	padding-right:20px;
}
.nomedent{
	float:left;
}
.datam{
	float:right;
}
.total{
	border:2px solid black;
}
.right{
	text-align:right;
	padding-right:10px;
}
/*clientes.php*/

.listacl{
	height:30px;
	width:250px;
	line-height:30px;
	background-color:yellow;
}
.listlink{
	float:left;
	height:30px;
	line-height:30px;
	background-color:yellow;
	margin-right:10px;
}